<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>@CHARSET "UTF-8";

body {
	font-family: "微软雅黑";
	color: #000;
	font-size: 14px;
}
.row{
	margin-right: 0px;
}
#abowman {
	margin-top: 15px;
	padding-left: 60px;
	height: 729px;
}

#skPlayer{
	min-height:123px;
	min-width: 384px;
}
#myCarousel {
	/*width: 850px;*/
	/*height: 400px;*/
	
}

/*页面导航栏*/
.navbar { /*height: 90px;*/
	background: #383838;
}

.navbar-default .navbar-nav>li>a {
	height: 60px;
	width: 100px;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 17px;
}

.navbar-default .navbar-nav>li>a:HOVER {
	color: #337ab7;
}

.carousel-control {
	opacity: 0;
}

.carousel-indicators li {
	background-color: yellow;
}

.carousel-indicators .active {
	background-color: #1f2125;
}

#myModal {
	width: 400px;
	height: 150px;
	bottom: 0px;
	right: 5px;
	position: fixed;
}

#hide_model {
	position: relative;
}

#audio {
	margin-left: 15px;
}

#right_info {
	padding-top: 10px;
}

#box_count {
	border: 2px solid #383838;
	border-radius: 4px;
	margin-bottom: 20px;
}

#box_count h4 {
	padding-left: 5px;
}

#box_sen {
	border: 2px solid #383838;
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
}

#sentence {
	height:115px;
	font-size: 16px;
	font-color: #383838;
}

#main_game{
	margin-top: 20px;
	margin-bottom: 10px;
}


.footDiv {
	/* margin-top: 30px; */
	height: 193px;
	width: 100%;
	background: #383838;
	color: #aaa;
}

.footDiv .credit {
	margin: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}

.footDiv a {
	color: #ccc;
	text-decoration: none;
}

.logo-wrap img {
	height: 60px;
}

.logo-wx img {
	height: 120px;
}

.foot_child {
	margin-left: 50px;
	margin-right: 50px;
	width: 400px;
}

.foot_child>div {
	margin-top: 10px;
	width: 400px;
}

.foot_child img {
	vertical-align: top;
}

/* .foot_child a {
	white-space: nowrap;
	
	word-break: break-all;
} */

/* .foot_child p {
	width: 350px;
} */
/* @media screen and (max-width: 1240px) {
	#abowman {
		display: none;
	}
}
 */
tbody tr:nth-child(2n+1) {
	background-color: #f5f5f5;
}

tbody tr:nth-child(2n) {
	/* background-color: #fffff0; */
	background-color: #ffffff;
}

tbody tr:hover {
	background-color: #fffff0;
}

.btn-danger {
	margin-left: 5px;
}

.panel-default>.panel-heading {
	background-color: #4483c2
}

/*留言*/
.resume {
	width: 350px;
	margin: 0 auto;
}

.resume span {
	font-size: 18px;
	color: #383838;
	width: 300px;
	display: block;
	margin-bottom: 10px;
}

.resume input {
	font-family: "微软雅黑";
	padding: 5px;
	width: 296px;
	height: 36px;
	border: 3px solid #383838;
	margin-bottom: 25px;
	font-size: 18px;
}

.resume textarea {
	font-family: "微软雅黑";
	padding: 5px;
	width: 296px;
	height: 236px;
	border: 3px solid #383838;
	margin-bottom: 50px;
	resize: none;
	font-size: 18px;
}

#send_button {
	width: 220px;
	height: 40px;
	background: #383838;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border: none;
	margin-left: 40px;
	margin-bottom: 116px;
	cursor: pointer;
}

/*福利*/